body {
  color: #707070;
}

a {
  color: #707070;
  text-decoration: none;
}

input {
  border-color: #F0F0F0;
}

.navbar {
  background-color: #F0F0F0;
}

.landing-container {
  background-color: #E3E3E3;
}

.cta {
  background-color: #E3E3E3;
}

.line {
  background-color: #707070;
}

.image-box {
  background-color: #F0F0F0;
}

.section-text {
  color: #707070;
}

.footer {
  background-color: #E3E3E3;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

.tagline-text {
  font-family: "Playfair Display", serif;
  font-size: calc(3.4em + 4vw);
  line-height: 1.2em;
}

.section-title {
  font-family: "Playfair Display", serif;
  font-size: calc(2em + 1vw);
}

.section-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-size: calc(12px + 1vw);
  line-height: calc(1em + 1vh);
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "overlap";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.navbar {
  width: 100%;
  height: 80px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: overlap;
  z-index: 9999;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 1fr;
      grid-template-columns: 15% 1fr;
}

.landing-container {
  width: 100%;
  height: 100vh;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: overlap;
}

.tagline-box {
  padding-top: 50vh;
  margin-left: 10vw;
}

#upper-tagline-text {
  margin: 0;
}

.tagline-text {
  margin: 0;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style-type: none;
}

.branding {
  margin-left: 10vw;
  margin-top: 10%;
}

.menu {
  margin-right: 10vw;
}

.menu-item {
  padding: 14px 36px;
}

.cta {
  padding: 14px 36px;
}

.hamburger {
  float: right;
  display: none;
}

.line {
  width: 24px;
  height: 3px;
  margin-bottom: 3px;
}

.content-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 600px;
}

.text-box {
  padding-top: 8vh;
  padding-left: 10vw;
  padding-right: 4vw;
}

.form {
  padding-top: 4vh;
}

input {
  width: 250px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 10px;
  outline: none;
  border: .5px solid;
}

#submit-btn {
  width: 150px;
  height: 50px;
  outline: none;
}

.get-involved {
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.footer {
  width: 100%;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.footer-left {
  padding-left: 10vw;
}

.footer-left ul {
  list-style-type: none;
  padding: 0;
}

.footer-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer-right ul li {
  padding-right: 40px;
}

@media (max-width: 400px) {
  .container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "overlap";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .navbar {
    width: 100%;
    height: 80px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: overlap;
    z-index: 9999;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15% 1fr;
        grid-template-columns: 15% 1fr;
  }
  .landing-container {
    width: 100%;
    height: 100vh;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: overlap;
  }
  .tagline-box {
    padding-top: 50vh;
    margin-left: 4vw;
  }
  #upper-tagline-text {
    margin: 0;
  }
  .tagline-text {
    margin: 0;
  }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: center;
        align-content: center;
    list-style-type: none;
    display: none;
  }
  .branding {
    margin-left: 4vw;
    margin-top: 30%;
  }
  .menu {
    margin-right: 2vw;
  }
  .menu-item {
    padding: 14px 36px;
  }
  .cta {
    padding: 14px 36px;
  }
  .hamburger {
    float: right;
    display: block;
    margin-top: 10%;
  }
  .line {
    width: 24px;
    height: 3px;
    margin-bottom: 3px;
  }
  .content-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 600px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .text-box {
    padding-top: 8vh;
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .form {
    padding-top: 4vh;
  }
  input {
    width: 250px;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 10px;
    outline: none;
  }
  #submit-btn {
    width: 150px;
    height: 50px;
    outline: none;
    border: .5px solid;
  }
  .get-involved {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer {
    width: 100%;
    height: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-left {
    padding-left: 4vw;
  }
  .footer-left ul {
    list-style-type: none;
    padding: 0;
  }
  .footer-right {
    padding-left: 4vw;
  }
  .footer-right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  .footer-right ul li {
    padding-right: 40px;
  }
  .get-involved .image-box {
    display: none;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "overlap";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .navbar {
    width: 100%;
    height: 80px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: overlap;
    z-index: 9999;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15% 1fr;
        grid-template-columns: 15% 1fr;
  }
  .landing-container {
    width: 100%;
    height: 100vh;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: overlap;
  }
  .tagline-box {
    padding-top: 50vh;
    margin-left: 4vw;
  }
  #upper-tagline-text {
    margin: 0;
  }
  .tagline-text {
    margin: 0;
  }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: center;
        align-content: center;
    list-style-type: none;
    display: none;
  }
  .branding {
    margin-left: 4vw;
    margin-top: 30%;
  }
  .menu {
    margin-right: 2vw;
  }
  .menu-item {
    padding: 14px 36px;
  }
  .cta {
    padding: 14px 36px;
  }
  .hamburger {
    float: right;
    display: block;
    margin-top: 10%;
  }
  .line {
    width: 24px;
    height: 3px;
    margin-bottom: 3px;
  }
  .content-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 600px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .text-box {
    padding-top: 8vh;
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .form {
    padding-top: 4vh;
  }
  input {
    width: 250px;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 10px;
    outline: none;
  }
  #submit-btn {
    width: 150px;
    height: 50px;
    outline: none;
    border: .5px solid;
  }
  .get-involved {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer {
    width: 100%;
    height: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-left {
    padding-left: 4vw;
  }
  .footer-left ul {
    list-style-type: none;
    padding: 0;
  }
  .footer-right {
    padding-left: 4vw;
  }
  .footer-right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  .footer-right ul li {
    padding-right: 40px;
  }
  .get-involved .image-box {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */