$text-color: #707070;
$navbar-color: #F0F0F0;
$landing-color: #E3E3E3;

body {
    color: $text-color;
}

a {
    color: $text-color;
    text-decoration: none;
}

input {
    border-color: $navbar-color;
}

.navbar {
    background-color: $navbar-color;
}

.landing-container {
    background-color: $landing-color;
}

.cta {
    background-color: $landing-color;
}

.line {
    background-color:$text-color;
}

.image-box {
    background-color: $navbar-color;
}

.section-text {
    color: $text-color;
}

.footer {
    background-color: $landing-color;
}







