body {
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas: "overlap";
    grid-template-columns: 1fr;
    
}

.navbar {
    width: 100%;
    height: 80px;
    grid-area: overlap;
    z-index: 9999;
    display: grid;
    grid-template-columns: 15% 1fr;
}

.landing-container {
    width: 100%;
    height: 100vh;
    grid-area: overlap;
}

.tagline-box {
    padding-top: 50vh;
    margin-left: 10vw;
}

#upper-tagline-text {
    margin: 0;
}

.tagline-text {
    margin: 0;
}

.menu-list {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    list-style-type: none;
    // display: none;
}

.branding {
    margin-left: 10vw;
    margin-top: 10%;
}

.menu {
    margin-right: 10vw;
}

.menu-item {
    padding: 14px 36px;
}

.cta {
    padding: 14px 36px;
}

.hamburger {
    float: right;
    display: none;
}

.line {
    width: 24px;
    height: 3px;
    margin-bottom: 3px;
}

.content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
}

.text-box {
    padding-top: 8vh;
    padding-left: 10vw;
    padding-right: 4vw;
}

.form {
    padding-top: 4vh;
}

input {
    width: 250px;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 10px;
    outline: none;
    border: .5px solid;

}

#submit-btn {
    width: 150px;
    height: 50px;
    outline: none;

}

.get-involved {
    grid-template-columns: 60% 40%;
}

.footer {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.footer-left {
    padding-left: 10vw;
}

.footer-left ul {
    list-style-type: none;
    padding: 0;
}

.footer-right ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.footer-right ul li {
    padding-right: 40px;
}


// ========== MOBILE RESPONSIVE DESIGN ==============
@media (max-width: 400px) {
    .container {
        display: grid;
        grid-template-areas: "overlap";
        grid-template-columns: 1fr;
        
        
    }
    
    .navbar {
        width: 100%;
        height: 80px;
        grid-area: overlap;
        z-index: 9999;
        display: grid;
        grid-template-columns: 15% 1fr;
    }
    
    .landing-container {
        width: 100%;
        height: 100vh;
        grid-area: overlap;
    }
    
    .tagline-box {
        padding-top: 50vh;
        margin-left: 4vw;
    }
    
    #upper-tagline-text {
        margin: 0;
    }
    
    .tagline-text {
        margin: 0;
    }
    
    .menu-list {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        list-style-type: none;
        display: none;
    }
    
    .branding {
        margin-left: 4vw;
        margin-top: 30%;
    }
    
    .menu {
        margin-right: 2vw;
    }
    
    .menu-item {
        padding: 14px 36px;
    }
    
    .cta {
        padding: 14px 36px;
    }
    
    .hamburger {
        float: right;
        display: block;
        margin-top: 10%;
    }
    
    .line {
        width: 24px;
        height: 3px;
        margin-bottom: 3px;
    }
    
    .content-section {
        display: grid;
        grid-template-columns: 1fr;
        height: 600px;
        box-sizing: border-box;
    }
    
    .text-box {
        padding-top: 8vh;
        padding-left: 4vw;
        padding-right: 4vw;
    }
    
    .form {
        padding-top: 4vh;
    }
    
    input {
        width: 250px;
        height: 50px;
        padding-left: 20px;
        margin-bottom: 10px;
        outline: none;
    }
    
    #submit-btn {
        width: 150px;
        height: 50px;
        outline: none;
        border: .5px solid;
    
    }
    
    .get-involved {
        grid-template-columns: 1fr;
    }
    
    .footer {
        width: 100%;
        height: 100px;
        display: grid;
        grid-template-columns: 1fr;
    
    }
    
    .footer-left {
        padding-left: 4vw;
    }
    
    .footer-left ul {
        list-style-type: none;
        padding: 0;
    }

    .footer-right {
        padding-left: 4vw;
    }
    
    .footer-right ul {
        display: flex;
        list-style-type: none;
        padding: 0;
    }
    
    .footer-right ul li {
        padding-right: 40px;
    }

    .get-involved .image-box {
        display: none;
    }
}

// =========== TABLET RESPONSIVE DESIGN =================
@media (min-width: 401px) and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-areas: "overlap";
        grid-template-columns: 1fr;
        
        
    }
    
    .navbar {
        width: 100%;
        height: 80px;
        grid-area: overlap;
        z-index: 9999;
        display: grid;
        grid-template-columns: 15% 1fr;
    }
    
    .landing-container {
        width: 100%;
        height: 100vh;
        grid-area: overlap;
    }
    
    .tagline-box {
        padding-top: 50vh;
        margin-left: 4vw;
    }
    
    #upper-tagline-text {
        margin: 0;
    }
    
    .tagline-text {
        margin: 0;
    }
    
    .menu-list {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        list-style-type: none;
        display: none;
    }
    
    .branding {
        margin-left: 4vw;
        margin-top: 30%;
    }
    
    .menu {
        margin-right: 2vw;
    }
    
    .menu-item {
        padding: 14px 36px;
    }
    
    .cta {
        padding: 14px 36px;
    }
    
    .hamburger {
        float: right;
        display: block;
        margin-top: 10%;
    }
    
    .line {
        width: 24px;
        height: 3px;
        margin-bottom: 3px;
    }
    
    .content-section {
        display: grid;
        grid-template-columns: 1fr;
        height: 600px;
        box-sizing: border-box;
    }
    
    .text-box {
        padding-top: 8vh;
        padding-left: 4vw;
        padding-right: 4vw;
    }
    
    .form {
        padding-top: 4vh;
    }
    
    input {
        width: 250px;
        height: 50px;
        padding-left: 20px;
        margin-bottom: 10px;
        outline: none;
    }
    
    #submit-btn {
        width: 150px;
        height: 50px;
        outline: none;
        border: .5px solid;
    
    }
    
    .get-involved {
        grid-template-columns: 1fr;
    }
    
    .footer {
        width: 100%;
        height: 100px;
        display: grid;
        grid-template-columns: 1fr;
    
    }
    
    .footer-left {
        padding-left: 4vw;
    }
    
    .footer-left ul {
        list-style-type: none;
        padding: 0;
    }

    .footer-right {
        padding-left: 4vw;
    }
    
    .footer-right ul {
        display: flex;
        list-style-type: none;
        padding: 0;
    }
    
    .footer-right ul li {
        padding-right: 40px;
    }

    .get-involved .image-box {
        display: none;
    }
	
}










