$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI",
"Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;

$title-font: "Playfair Display", serif;


body {
    font-family: $system-font;
  }


.tagline-text {
    font-family: $title-font;
    font-size: calc(3.4em + 4vw);
    line-height: 1.2em;
}

.section-title {
    font-family: $title-font;
    font-size: calc(2em + 1vw);
}

.section-text {
    font-family: $system-font;
    font-size: calc(12px + 1vw);
    line-height: calc(1em + 1vh);
    
}
